body{
background-color:#666666;
font-family:Arial;
font-size:10pt;
color:#000000;
}

img{
border:hidden;
}

a{
text-decoration:none;
}

a.Red{
color:#FF0000;
}

p.center{
text-align:center;
}

p.centund{
text-align:center;
text-decoration:underline;
}

p.under{
text-decoration:underline;
}

p{
margin:0;
}

#Website{
position:relative;
margin:0 auto;
height:1600px;
width:800px;
background-color:#CCFF99;
border-top-right-radius:40px;
-moz-border-radius-topright:40px;
border-bottom-right-radius:40px;
-moz-border-radius-bottomright:40px;
}


#Title{
position:absolute;
height:75px;
width:780px;
top:10px;
left:10px;
background-color:#006633;
border-top-right-radius:40px;
-moz-border-radius-topright:40px;
}

#TitleText{
position:absolute;
height:45px;
width:300px;
font-size:32pt;
color:#FFFFFF;
top:25px;
right:50px;
text-align:right;
}

#WSAD{
position:absolute;
height:200px;
width:600px;
top:100px;
left:145px;
background-color:#FFFFFF;
}

#ContentHome{
position:absolute;
height:1165px;
width:475px;
padding-top:10px;
padding-left:5px;
background-color:#99CC66;
top:310px;
left:125px;
border-top-left-radius:20px;
-moz-border-radius-topleft:20px;
border-bottom-left-radius:20px;
-moz-border-radius-bottomleft:20px;
}

#ContentHome a{
color:#FFFFFF;
}

#IEComp{
visibility:hidden;
top:5px;
right:5px;
height:0px;
width:5px;
}

#Content{
position:absolute;
height:1375px;
width:475px;
padding-top:10px;
padding-left:5px;
background-color:#99CC66;
top:100px;
left:125px;
border-top-left-radius:20px;
-moz-border-radius-topleft:20px;
border-bottom-left-radius:20px;
-moz-border-radius-bottomleft:20px;
}
#Content a{
color:#FFFFFF;
}

#DYKHome{
position:absolute;
padding-top:10px;
height:1165px;
width:150px;
background-color:#33CC33;
top:310px;
right:40px;
border-top-right-radius:20px;
-moz-border-radius-topright:20px;
border-bottom-right-radius:20px;
-moz-border-radius-bottomright:20px;
}
#DYKHome a{
color:#FFFFFF;
}

#DYK{
position:absolute;
padding-top:10px;
height:1375px;
width:150px;
background-color:#33CC33;
top:100px;
right:40px;
border-top-right-radius:20px;
-moz-border-radius-topright:20px;
border-bottom-right-radius:20px;
-moz-border-radius-bottomright:20px;
}
#DYK a{
color:#FFFFFF;
}

#Legal{
position:absolute;
height:100px;
width:740px;
padding-left:20px;
bottom:10px;
left:10px;
color:#FFFFFF;
background-color:#006633;
border-bottom-right-radius:40px;
-moz-border-radius-bottomright:40px;
padding-right:20px;
}

#Legal a{
color:#FFFFFF;
}

#RightDecor{
position:absolute;
height:1480px;
width:25px;
right:10px;
top:50px;
background-color:#006633;
}

/*SITE NAVIGATION*/

#NavBar{
position:absolute;
height:1580px;
width:110px;
top:10px;
left:10px;
background-color:#006633;
font-size:16pt;
}

#NavBar a{
color:#000000;
}

#Home{
position:absolute;
padding-top:35px;
height:65px;
width:100px;
top:200px;
left:5px;
background-color:#99CC66;
border-radius:50px;
-moz-border-radius:50px;
text-align:center;
}

#Home:hover{
background-color:#CCFF99;
color:#000000;
}

#About{
position:absolute;
padding-top:35px;
height:65px;
width:100px;
top:325px;
left:5px;
background-color:#99CC66;
border-radius:50px;
-moz-border-radius:50px;
text-align:center;
}
#About:hover{
background-color:#CCFF99;
color:#000000;
}
#Healthy{
position:absolute;
padding-top:25px;
height:75px;
width:100px;
top:450px;
left:5px;
background-color:#99CC66;
border-radius:50px;
-moz-border-radius:50px;
text-align:center;
}
#Healthy:hover{
background-color:#CCFF99;
color:#000000;
}
#Exercise{
position:absolute;
padding-top:35px;
height:65px;
width:100px;
top:575px;
left:5px;
background-color:#99CC66;
border-radius:50px;
-moz-border-radius:50px;
text-align:center;
}
#Exercise:hover{
background-color:#CCFF99;
color:#000000;
}
#Contact{
position:absolute;
padding-top:25px;
height:75px;
width:100px;
top:700px;
left:5px;
background-color:#99CC66;
border-radius:50px;
-moz-border-radius:50px;
text-align:center;
}
#Contact:hover{
background-color:#CCFF99;
color:#000000;
}